/* styles.css */

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: linear-gradient(135deg, #e0f7fa, #ffffff);
}
.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

h1 {
  font-size: 2.5rem;
  color: #00796b;
  text-align: center;
}
h2 {
  font-size: 1.8rem;
  color: #00796b;
}

h3 {
  font-size: 1.2rem;
  color: #024b43;
  text-align: center;
}

h1,
h2,
h3 {
  text-align: center;
}

p {
  margin: 20px 0;
  text-align: center;
}
.controls {
  margin-bottom: 30px;
  text-align: center;
  padding: 10px;
  background-color: #00796b;
  color: white;
  border-radius: 5px;
}

#tag-chart,
#comments-chart,
#heatmap,
#histogram-chart,
#scatterplot,
#wordcloud,
#sentiment-analysis {
  margin-bottom: 50px;
}

canvas {
  display: block;
  margin: auto;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 6px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.chart {
  margin-bottom: 50px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the graph and text horizontally */
  justify-content: flex-start; /* Aligns content at the top */
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 20px; /* Adds some inner spacing */
  max-width: 90%; /* Constrain the width */
}

.chart-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

#vis-histogram,
#scatterplot-individual,
#scatterplot-averages {
  display: block; /* Ensures it behaves like a block element */
  margin: 0 auto; /* Centers the graph horizontally */
  width: 100%; /* Occupies the full width of the container */
  max-width: 800px; /* Prevents the graph from exceeding the container width */
  height: auto; /* Maintains the aspect ratio */
}

.chart-img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

.chart-container > div {
  display: block;
  width: 100%;
}
